/* ********* */
/* @VARIABLES */
/* ********* */


// WIDTH
$max-width: 1100px;
$max-width_margin: 0 auto;
$width-mobile: 769px;


// FONTWEIGHT

$font-weight_light: 300;
$font-weight_regular: 400;
$font-weight_bold: 700;

//COLORS
$primary-color: #AE8F22;
$secondary-color: #aa821e;
$gold-1: #A67E33;
$gold-2: #FAE39E;
$gold-3: #FAF2D1;

$white-1: #F2F2F2;
$white-2: #D9D9D9;
$gray-1: #8C8C8C;
$gray-2: #595959;
$gray-3: #404040;
$gray-4: #31373A;

$background-color-menu: $gray-4;